<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @landmark.name %></title>
  </head>
  <body>
    <form action="/landmarks/<%= @landmark.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p><label>Name:</label><input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></p>
      <p><label>Year Completed:</label><input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed.to_s %>"></p>
      <p><input type="submit" id="Edit Landmark"></p>
    </form>
    <h4> RSPEC wants this? @landmark.year_completed.to_s </h4>
  </body>
</html>
